@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header img {
  height: 1.5rem;
  margin: 1.5rem;
}

.main {
  display: flex;
  justify-content: space-around;
}

.heading {
  font-family: "Libre Baskerville", serif;
  font-size: 96px;
  color: rgba(0, 45, 48, 0.5);
}

.heading span {
  color: #ff6f00;
}
